<?xml version="1.0" ?>
<robot name="table.urdf">
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="1.0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>

<!--    Dessus de la table    -->
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.6"/>
      <geometry>
				<mesh filename="table.stl" scale="1.5 1 0.05"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.6"/>
      <geometry>
	 	    <box size="1.5 1 0.05"/>
      </geometry>
    </collision>

<!--   Pied de table 1     -->
	  <visual>
      <origin rpy="0 0 0" xyz="-0.65 -0.4 0.29"/>
      <geometry>
	    <mesh filename="table.stl" scale="0.1 0.1 0.58"/>
      </geometry>
	  <material name="white"/>	 
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="-0.65 -0.4 0.29"/>
      <geometry>
	 	    <box size="0.1 0.1 0.58"/>
      </geometry>
    </collision>

<!--   Pied de table 2     -->
    <visual>
      <origin rpy="0 0 0" xyz="-0.65 0.4 0.29"/>
      <geometry>
        <mesh filename="table.stl" scale="0.1 0.1 0.58"/>
      </geometry>
	  <material name="white"/>
	  </visual>

    <collision>
      <origin rpy="0 0 0" xyz="-0.65 0.4 0.29"/>
      <geometry>
	 	    <box size="0.1 0.1 0.58"/>
      </geometry>
    </collision>

<!--   Pied de table 3     -->
    <visual>
      <origin rpy="0 0 0" xyz="0.65 -0.4 0.29"/>
      <geometry>
        <mesh filename="table.stl" scale="0.1 0.1 0.58"/>
      </geometry>
	  <material name="white"/>
	  </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0.65 -0.4 0.29"/>
      <geometry>
	 	    <box size="0.1 0.1 0.58"/>
      </geometry>
    </collision>

<!--   Pied de table 4     -->
    <visual>
      <origin rpy="0 0 0" xyz="0.65 0.4 0.29"/>
      <geometry>
        <mesh filename="table.stl" scale="0.1 0.1 0.58"/>
      </geometry>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0.65 0.4 0.29"/>
      <geometry>
	 	    <box size="0.1 0.1 0.58"/>
      </geometry>
    </collision>

  </link>
</robot>

